.vs
.git
.vscode
/Debug/
/Release/
ProjectGyoku/Debug/
ProjectGyoku/Release/
ProjectGyoku/x64/
*.vcxproj*

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Project Gyoku
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# .vscode files
.vscode/*

# Development tools
Tools/
count.py

# Executables
*.exe

# Data
*.dat
data/
wav/

# Game Data
Log.txt
score.dat
replay/
*.cfg
screenshots/
